/* 

  Made by Rhys Edwards

*/

html {
  height: 100%;
  font-size: 62.5%;
  /* Does some maths so that rem is easier to use. (1.6 x 10 is 16px) */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  color: var(--clr-light-black);
  height: 100%;
}

:root {
  --clr-black: #000;
  --clr-light-black: #121212;
  --clr-lighter-black: rgba(14, 14, 14, 0.8);
  --clr-yellow: #ccff00;
  --clr-grey: #a7a7a7;

  --font-huge: 6.4rem;
  --font-xxlarge: 4.8rem;
  --font-xlarge: 3.6rem;
  --font-kindof-large: 3.2rem;
  --font-large: 2.4rem;

  --font-w-bold: 500;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--font-huge);
}

h2 {
  font-size: var(--font-xxlarge);
}

h3 {
  font-size: var(--font-xlarge);
}

h4 {
  font-size: var(--font-kindof-large);
}

h5 {
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-block: 1rem;
}

p {
  margin-top: 0;
}

/* -------------  utility classes  --------------------- */

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.w-100 {
  width: 100%;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.btn {
  border-radius: 40px;
}

.btn:hover {
  transition: all 0.3s ease-in-out;
}

.btn .fa {
  padding-left: 1rem;
}

.btn-white {
  background: white;
  transition: all 0.3s ease-in-out;
}

.btn-white:hover {
  background: black;
  color: white;
}

.btn-border {
  background: transparent;
  outline: 1px solid black;
  outline-offset: -1px;
  transition: all 0.3s ease-in-out;
}

.btn-border:hover {
  background: black;
  color: white;
}

.btn-black {
  background: black;
  color: white;
  padding: 2rem 2.3rem;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.btn-black:hover {
  background: white;
  color: black;
}

.btn-yellow {
  background-color: var(--clr-yellow);
  transition: all 0.3s ease-in-out;
}

.btn-yellow:hover {
  background: var(--clr-light-black);
  color: var(--clr-yellow);
}

.btn-smaller {
  padding: 1rem 2rem;
  font-weight: var(--font-w-bold);
}

.grey-accent {
  color: var(--clr-grey);
  font-weight: 300;
}

/* -----------  main css  -----------------*/

header {
  background-color: var(--clr-yellow);
  padding: 1rem 0;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav > * {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 1rem 0;
}

.hero {
  background-image: url(../images/hero.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  justify-content: center;
}

.hero-wrap {
  max-width: 855px;
  text-align: center;
  padding: 2rem 0;
}

.hero__buttons {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.hero__buttons a {
  flex-basis: 170px;
  padding: 1.8rem 0rem;
  font-weight: 500;
}

.hero__desc {
  font-size: var(--font-large);
  color: var(--clr-lighter-black);
  padding: 2rem 2rem;
}

.trusted {
  padding: 3rem 0;
}

.trusted-clients__title {
  text-align: center;
  padding-bottom: 7rem;
}

.trusted-clients__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.trusted-clients__item {
  flex-basis: 160px;
  padding-bottom: 2rem;
}

.trusted-clients__logo {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  width: 100%;
}

.explore {
  overflow: hidden;
  padding-block: 8rem;
}

.explore-section-title-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
  flex-wrap: wrap;
  align-items: center;
}

.explore-section__title {
  padding-bottom: 2rem;
}

.explore-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 7rem;
  margin-bottom: 7rem;

    /* For firefox */
  scrollbar-color: var(--clr-yellow) rgba(119, 109, 109, 35%);
  scrollbar-width: thin;
}

.explore-cards::-webkit-scrollbar {
  height: 0.7em;
}

.explore-cards::-webkit-scrollbar-track {
  background-color: rgba(119, 109, 109, 35%);
  border-top: 0.4em solid white;
}

.explore-cards::-webkit-scrollbar-thumb {
  background-color: var(--clr-yellow);
}

.explore-card {
  background-color: #f7f7f7;
  border-radius: 30px;
  padding: 1rem;
  flex: 0 0 50%;
}

.explore-card__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore-card__link:hover .fa {
  background: black;
  color: white;
  transition: all 0.3s ease-in-out;
}

.explore-card__link .fa {
  color: black;
  align-self: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.explore-card__title {
  font-size: inherit;
  color: black;
  margin: 0;
}

.explore-card-img-wrap {
  padding-bottom: 1rem;
}

.explore-card__img {
  width: 100%;
  border-radius: 40px;
}

.explore-card + .explore-card {
  margin-left: 2rem;
}

.how-it-works-cards {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-block: 8rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.how-it-works-card {
  max-width: 320px;
}

.how-it-works-card__img {
  padding-bottom: 3rem;
  padding-top: 5rem;
  display: inline-block;
}

.how-it-works-card__title {
  padding-block: 2rem;
}

.how-it-works-card__desc {
  line-height: 2;
  max-width: 280px;
}

.community {
  background-color: var(--clr-yellow);
}

.community-section-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 5rem;
}

.community-section__title {
  display: flex;
  align-self: center;
  padding-bottom: 2rem;
}

.community-form-wrap {
  max-width: 500px;
  width: 100%;
}

.community-form {
  display: flex;
  background: white;
  border-radius: 40px;
  padding: 1rem;
}

.community-form__input {
  padding: 1rem;
  border: 0;
  font-family: inherit;
  flex-grow: 1;
}

.community-form__input:focus {
  outline: 0;
}

.community-form button {
  padding: 1rem 2rem;
  margin: 0;
  border: 0;
  font-family: inherit;
  cursor: pointer;
}

.faq {
  padding-block: 10rem;
}

.faq-section-wrap {
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
}

.faq-section__title {
  width: min-content;
}

.faq-accordion {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.faq-accordion-item {
  border-bottom: 1px solid black;
  display: flex;
}

.faq-accordion-item:first-of-type .item-content-wrap {
  padding-top: 2rem;
}

.faq-accordion-item-content-wrap {
  flex-grow: 1;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
}

.faq-accordion-item__title {
  padding-bottom: 3rem;
  padding-top: 0;
  cursor: pointer;
}

.faq-accordion-item.active .faq-accordion-item__desc {
  height: auto;
}

.faq-accordion-item.active .fa-plus {
  display: none;
}
.faq-accordion-item.active .fa-minus {
  display: block;
}

.faq-accordion-item__desc {
  height: 0px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.faq-accordion-item:last-of-type {
  border: 0;
}

.faq-accordion-item-icons {
  display: flex;
}

.faq-accordion-item-icons .fa {
  align-self: center;
  font-size: 47px;
}

.fa-minus {
  display: none;
}

.greener-world {
  background: var(--clr-light-black);
}

.greener-world-section-wrap {
  padding-block: 10rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.greener-world__title {
  color: white;
  padding-bottom: 5rem;
}

.greener-world a {
  padding: 1.8rem 2.8rem;
  font-weight: 500;
}

.footer-wrap {
  display: flex;
  gap: 10rem;
  padding-block: 10rem;
  flex-wrap: wrap;
  font-weight: 500;
}

.footer__copyright {
  padding-top: 2rem;
  max-width: 280px;
}

.footer-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-nav__item {
  padding-block: 1rem;
}

/* Media queries */

@media only screen and (min-width: 900px) {
  .hero-wrap {
    padding: 11rem 0;
  }

  .nav {
    justify-content: space-between;
    flex-direction: row;
  }

  .trusted__clients-list {
    flex-wrap: nowrap;
  }

  .trusted__clients-item {
    flex-basis: 100%;
  }

  .explore-card {
    padding: 2rem;
    flex: 0 0 32.5%;
  }

  .explore-card__title {
    font-size: var(--font-large);
  }

  .explore-section__title {
    padding-bottom: 0;
  }

  .faq-section-wrap {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --font-huge: 4.4rem;
    --font-xxlarge: 3.8rem;
    --font-xlarge: 2.8rem;
    --font-kindof-large: 2.7rem;
    --font-large: 2rem;
  }

  .nav > * {
    gap: 3rem;
  }

  .hero-wrap {
    padding: 2rem 2rem;
  }

  .hero__buttons {
    gap: 1rem;
  }

  .how-it-works-cards {
    padding-block: 4rem;
    gap: 0rem;
  }

  .how-it-works-card__img {
    padding-bottom: 0;
  }

  .faq {
    padding-block: 3rem;
  }

  .faq-accordion-item-icons .fa {
    font-size: 30px;
  }

  .explore {
    padding-block: 2rem;
  }

  .footer-wrap {
    display: flex;
    gap: 4rem;
    padding-block: 7rem;
  }

  .footer-img-wrap {
    flex-basis: 100%;
  }
}
